@charset "UTF-8";

/*  UCF Web Communications, Summer 2010*/

html, body{padding:0; margin:0}
html{background:url("img/gradient.png") repeat-x top left #fff}
a img{border:0}

.uppercase{text-transform:uppercase}

.navigation_end {margin-bottom:-10px; clear:both}
#navigation{margin:25px auto 0 auto; position:relative; left:5px; font-family:Georgia,serif; font-size:95%; width:802px; padding:0; list-style-type:none}
#navigation li{float:left; margin:0 0 0 11px; padding:0 0 0 13px; background-image:url(img/bullet.png); background-position:center left; background-repeat:no-repeat}
#navigation li.first{margin-left:0; padding-left:0; background-image:none}
#navigation #nav_apply_now{text-indent:-9999px; background-image:none}
#navigation #nav_apply_now a{cursor:pointer; display:block; overflow:hidden; background-position:top center; background-repeat:no-repeat; background-image:url(img/apply_now.png); width:93px; height:24px; position:relative; left:-5px; top:-2px}

#navigation li a{color:#262626; text-decoration:none}
#navigation li a:hover{color:#959491}

#main_body a{color:#600; text-decoration:none; border-bottom:#CCC}
#main_body a:hover{color:#e50606; text-decoration:none; border-bottom:#e50606}

#footer{clear:both; text-align:center; font-family:Arial,Helvetica,sans-serif; padding-top:30px; letter-spacing:1px}
#footer p{font-size:0.63em; color:#4f4e4e; padding:0; margin:0 0 2px 0}
#footer p a, #footer p a:visited{color:#000}
#footer_navigation{font-size:0.63em; margin-bottom:7px}
#footer ul{list-style:none}
#footer ul li{display:inline; border-left:#000 1px solid; padding:0 5px 0 8px}
#footer ul li.first{border:0; padding-left:0px}
#footer ul a, #footer ul a:visited{color:#3e3d3d; text-decoration:none}
#footer ul a:hover{text-decoration:underline}
#ucf_address{font-size:0.63em; color:#4f4e4e; padding:0; margin-top:5px; margin-right:0; margin-bottom:0; margin-left:0}
#footer a#ucf_logo{display:block; height:43px; width:256px; text-indent:-9000px; background:url(img/ucf_stands_for_opportunity.png) no-repeat; margin:25px auto}


/******************************************************************************\
    General Styles
\******************************************************************************/
body { font-family: "Trebuchet MS", sans-serif; font-size:90%; text-align:left; }
#wrap { width:950px; padding:24px 12px 32px; margin:0 auto; }
abbr {border:1px dash black; outline:0; }
a { color:#990000; }
a:hover { cursor:pointer; color:#C30202; }
.inline { display:inline; }
.borderless { border:0; }
.hidden { display:none; }
.orange { color:#ff7700; }


h1 { font-family:georgia, serif; font-size:2em; }
h1 a {text-decoration:none; color:black; }
h1 a:hover {color:black; }
h2 { /*color: #FF7700;*/ color:#f3c00b; font-family: "Arial Black", arial, sans-serif; font-size:1.6em; margin:0; padding:0 0 .5em 0; }
h3 { letter-spacing:.5px; font-size:1.15em; font-family: "Arial Black", arial, sans-serif; padding:.5em 0; margin:0; }
h4 {font-weight:bold; font-size:1em; padding:.5em 0; margin:0; font-family:georgia; }

.ribbon { background:url("img/white-triangle.png") no-repeat scroll left center #CC9900;
		color:white; font-size:1em; font-weight:bold; height:40px; line-height:40px; margin-bottom:1.5em; padding:0;
		padding-left:45px; }
.ribbon a { color:white; text-decoration:none; border-bottom:1px dotted; }
.ribbon a:hover { border-bottom:1px solid; }

ul, ol { font-family:georgia; }
li { line-height:120%; padding-bottom:1em; } 
ul.checkboxes { margin-top:0; padding-top:0; padding-left:0px; }
ul.checkboxes li {list-style:none; display:block; clear:both; padding:5px 0;  }
p { font-family:georgia; padding-bottom:1em; margin-bottom:0; line-height:150%; }
address { padding-left:2em; font-style:normal; font-family:georgia; }
address a { color:black; text-decoration:none; border-bottom:1px dotted black; }

a[target="blank"], a[target="_blank"] { vertical-align:text-bottom; display:inline-block; line-height:18px; background:url(img/new-window.png) right top no-repeat; padding-right:16px; overflow:hidden; }
a[target="blank"]:hover, a[target="_blank"]:hover { background-position: right -50px; }
.ribbon a[target="blank"], .ribbon a[target="_blank"] { background-position: right -100px; } 
a[href^="tel"] { color:black; text-decoration:none; }
a[href^="tel"]:hover { cursor:default; }
.pdf { display:inline-block; line-height:18px; background:url(img/document-pdf-text.png) right top no-repeat; padding-right:20px; overflow:hidden; }

.indent { padding-left:2em; }
.indent ul { padding-left:1em; font-family:georgia; }
.upfont { font-size:123%; }

.plain{font-family: "Georgia"; list-style-type: none; padding: 0; margin: 0;}
.plain li {}

/******************************************************************************\
    sans serif content
\******************************************************************************/
.sans { font-size:.9em; font-family:helvetica, sans-serif; padding:0 0 1em 1em; }
.sans p { font-family:helvetica, sans-serif; padding-bottom:.5em; }
.sans h3 { font-family:helvetica, sans-serif; font-weight:bold; }
.sans h4 { font-family:helvetica, sans-serif; font-size:1em; padding-bottom:0;}
figure img { -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;  }
.ie figure img { border:1px solid #CCC; }
figure { padding:.5em 0 1.5em; }


/******************************************************************************\
    Block Styles
\******************************************************************************/

/* html5 elements */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }


.frame { display:block; margin-bottom:1em; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; background-color: white; -moz-border-radius: 5px; -webkit-border-radius: 5x; border-radius:5px; padding:5px; position:relative; }
.frame { -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px; }
.ie .frame { border:1px solid #CCC; }


.paper { margin-bottom:2em; background: url("img/paper-top.png") no-repeat center top transparent; font-size:.83em; font-family:helvetica, sans-serif; }
.paper p { font-family:helvetica, sans-serif; line-height:170%; }
.paper h3 {font-size:100%; }
.paper .blue { color:#105d8a; font-family:georgia; font-size:1.6em; margin:0; padding:.1em 0 .25em; }
.paper .wrap { background: url("img/paper-bottom.png") no-repeat center bottom transparent; padding:1em; }
.paper ul { margin:0; padding:0; }
.paper ol { padding-left:1.5em; }
.paper li { margin:.5em 0 .5em 1.2em; padding:0; line-height:130%;  }
.paper .video { width:100%; overflow:hidden; padding:5px 0 8px; position:relative;  }
.paper .video:hover { cursor:pointer; }
.paper .video .play { display:block; background: url(img/video-play.png) no-repeat center center; width:202px; height:126px; position:absolute; top:5px; left:0; z-index:10; } 



/******************************************************************************\
    Visit UCF
\******************************************************************************/
.tan   { background:#fdfae1;  }
.tan .wrap { padding:1.2em; }
.tan h4 { color:#bf0f0f; padding-top:0; margin-top:0; font-family:arial; font-size:1em; font-weight:bold;}
.tan ul { margin:0; padding:0 0 0 1.4em; }
.tan li { margin:0; padding:0; }

/******************************************************************************\
    Layout
\******************************************************************************/
#header { border-bottom:1px dotted black; padding-bottom:1em; margin-bottom:1em; }
#header h1 { font-weight:normal; margin:0; padding:0;  }
#header ul { list-style:none; margin:0; color:#6d6e71; padding:.28em 0 0 0; }
#header ul li{ display:inline-block; float:left; margin-right:8px; padding:0; line-height:160%; }
#header ul li:after { content:"\2022"; margin-left:5px; }
#header ul li.last:after{ content:""; margin-left:0; }
#header ul li a { font-family: Georgia, Times, serif; margin-right:5px; color:#333; font-size:16px; text-decoration: none; font-weight: normal; }
#header ul li a:hover {  color:#ed1c24;  text-decoration: underline; }

.pad-l { padding-left:1em; }
.pad-r { padding-right:1em; }

#footer { width: 100%; background:black; margin:0; text-align:left; color:white; padding:1.5em 0; font-size:80%; }
#footer h2 { font-size:1.2em; margin:0; padding:0; color:#ffcc00;  }
#footer h2 a { color:#ffcc00;  }
#footer h2 a:hover { color:#C30202; }
#footer h3 {color:white; font-size:1em; font-weight:bold; margin:0; padding:.2em 0 0 0; }
#footer a { color:white; }
#footer a:hover { color:#C30202; }
#footer a[href^="tel"]:hover { color:white; }
#footer a[target="blank"] { background-position: right -100px; }
#footer a[target="blank"]:hover { background-position: right -50px; }
#footer dl, #footer dt, #footer dd, #footer ul, #footer ul li { margin:0; padding:0; color:white; }
#footer dt {color:#ff6d02; font-style:italic; font-weight:normal; padding-top:.5em;  }
#footer ul { margin:0; padding:0; font-family: arial, sans-serif; }
#footer ul a {color:white; }
#footer ul a:before { content:"» "; }
#footer ul a:visited  {color:white; }
#footer ul a:hover {color:white; cursor:pointer; color:#C30202; }
#footer ul li {margin:0; padding:0; display:block; }
#footer ul li.hr {display:block; border-bottom:1px dotted white; overflow:hidden; background:black; padding-bottom: 5px; margin-bottom: 5px;}
#footer dl { margin:0; padding:0; color:white; }
#footer .wrap {width:950px; margin:0 auto; background:black; }


/******************************************************************************\
    Blueprint Fixes / UI tweaks
\******************************************************************************/
.ui-dialog .ui-dialog-buttonpane button { padding:0; }
.ui-state-error { background-image:url(img/ui-bg-red-diagonals.png); }
.ui-state-highlight { border-color:#004276; color:#001D39; background:#F4FAFF; }
.ui-state-success { background:#F0FFE3; border:1px solid #97D369; color:#142305; }
.ui-state-success .ui-icon { background-image:url(img/ui-icons.png); }
.ui-widget p { margin:0; padding:1em; }
.ui-icon { margin-top:2px; float:left; margin-right:.3em; }
.success .ui-icon {background-image:url(img/ui-icons.png); }
.highlight { border:1px solid #004276; color:#001D39; background:#F4FAFF; display:block; padding:.2em; margin:.2em 0; }
#UCFHBHeader select { margin:0; padding:0; }
#UCFHBHeader input.text { margin:0; padding:0; }
a.ui-button .ui-button-text { line-height:1.3; }
input[value=Next] { margin-top:1em; }


/******************************************************************************\
    IE fixes
\******************************************************************************/
.ie7 #header h1 { padding-bottom:3px; }
.ie7 a.ui-button {vertical-align:bottom; padding-bottom:3px; margin-bottom:2px; }
.ie7 td input.button { top:auto; }
.ie7 .QAPanel { zoom:1;  }
